{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "selector-class-pattern": [
      "^([a-z]([a-z0-9-]+)?)(__[a-z0-9-]+)?(--[a-z0-9-]+)?$",
      {
        "message": "Используйте BEM нотацию: .block__element--modifier"
      }
    ],
    "scss/load-partial-extension": null,
    "at-rule-empty-line-before": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "declaration-empty-line-before": null,
    "selector-id-pattern": null,
    "custom-property-pattern": null,
    "no-duplicate-selectors": true,
    "no-descending-specificity": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["use", "forward", "mixin", "include", "function"]
      }
    ]
  }
}
