@use '../global/variables.scss' as v;

.page {
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: v.$font-first;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: v.$text-color;
  background-color: v.$basic-light;
  overflow-x: hidden;
  min-height: 100%;
}
