@use "../global/mixins.scss" as m;
@use "../global/variables.scss" as v;

.your-training {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: v.$accent-color;
  color: v.$basic-light;
}

.your-training__wrap {
  @include m.wrapper-mobile;
}

.your-training__title {
  margin-bottom: 20px;
}

.your-training__list {
  margin-bottom: 30px;
}

.your-training__item {
  position: relative;
  padding: 80px 20px 30px;
  background: v.$card-dark;
  border-radius: 20px;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    background-repeat: no-repeat;
  }

  &--clip {
    &::before {
      width: 40px;
      height: 40px;
      background-image: url("../../img/icons/clip.svg");
      background-size: contain;
    }
  }

  &--star {
    &::before {
      width: 42px;
      height: 40px;
      background-image: url("../../img/icons/card-star.svg");
      background-size: contain;
    }
  }

  &--message {
    &::before {
      width: 40px;
      height: 40px;
      background-image: url("../../img/icons/message.svg");
      background-size: contain;
    }
  }

  &--people {
    &::before {
      width: 49px;
      height: 40px;
      background-image: url("../../img/icons/people.svg");
      background-size: contain;
    }
  }
}

.your-training__final-title,
.your-training__final-text {
  display: block;
  font-family: v.$font-first;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
}

.your-training__final-title {
  margin-right: 39px;
}

.your-training__final {
  display: flex;
}
