// Цвета
$basic-light: #FDFDFD;
$text-color: #2B2B2B;
$accent-color: #023E73;
$second-accent-color: #FCF06B;
$border-color: #D9D9D9;
$light-blue: #D5DEE7;
$text-before-elem: #676767;
$card-dark: #0C487D;

// Шрифты
$font-first: "Menorah", arial, sans-serif;
$font-second: "Inter", arial, sans-serif;

// Экраны устройств
$tablet-width: 768px;
$desktop-width: 1240px;
