// Цвета
$basic-light: #FDFDFD;
$text-color: #2B2B2B;
$accent-color: #023E73;
$second-accent-color: #FCF06B;

// Шрифты
$font-first: "Menorah", arial, sans-serif;
$font-second: "Inter", arial, sans-serif;

// Экраны устройств
$tablet-width: 768px;
$desktop-width: 1240px;
